<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Floan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/dashboard-style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
    <!-- header -->
    <header id="site-header">
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                <a href="/dashboard">
                  <img class="profile-img" src="../images/floan.png" alt="floan-logo" style="width:100px">
                </a>
                    
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- main -->

    <%- body %>
</body>

</html>
