
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">

            <div class="">
                <img class="profile-img" src="../images/floan.png"alt="">
                <div class="quote">
                  <h1 style="font-size:65px;"><span style="color:#0B2541">NO</span> <br> <span style="color:#F9C202">WORRIES</span> <br><span  style="color:#0B2541">FOR</span> <span style="color:#F9C202">DEBT</span></h1>


                </div>

                <form class="form-signin">
                <label class="checkbox pull-left">
                </label>
                <div class=" text-center">
                  <a href="http://localhost:3000/api/facebooklogin" class="loginBtn loginBtn--facebook text-center">
                Login with Facebook
              </a></div>

                </form>
                <div class="clearfix"></div>

            </div>

        </div>
    </div>
